body {
  -moz-font-feature-settings: "pnum";
  -webkit-font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  display: flex;
  flex-direction: column;
  font-feature-settings: "pnum";
  font-size: 100%;
  line-height: 1.5;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: 'Arial', 'Helvetica', Calibri, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a,
a:link,
a:visited {
  border-bottom: 1px solid #4b45a9;
  text-decoration: none;
  color: #4b45a9;
}

a:hover,
a:focus,
a:active {
  border-bottom: 2px solid #4b45a9;
}

hr {
  border: none;
  margin: 1em 0;
  border-top: 1px solid #c5c5c5;
}

ul {
  padding: 0 1em;
  margin: 1em 0;
}

code {
  background-color: #EEE;
  color: #333;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

pre {
  background-color: #333;
  font-family: monospace;
  padding: 0.5em 1em 0.75em;
  border-radius: 0.25em;
  font-size: 14px;
}

pre code {
  padding: 0;
  background-color: transparent;
  color: #fff;
}

a code {
  border-radius: .125rem .125rem 0 0;
  padding-bottom: 0;
  color: #4b45a9;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
  background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20112%20109%22%3E%3Cg%20id%3D%22Page-1%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22link-external%22%3E%3Cg%20id%3D%22arrow%22%3E%3Cpath%20id%3D%22Line%22%20stroke%3D%22%234B45A9%22%20stroke-width%3D%2215%22%20d%3D%22M88.5%2021l-43%2042.5%22%20stroke-linecap%3D%22square%22%2F%3E%3Cpath%20id%3D%22Triangle%22%20fill%3D%22%234B45A9%22%20d%3D%22M111.2%200v50L61%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20id%3D%22square%22%20fill%3D%22%234B45A9%22%20d%3D%22M66%2015H0v94h94V44L79%2059v35H15V30h36z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: .75rem;
  content: "";
  display: inline-block;
  height: .75rem;
  margin-left: .25rem;
  width: .75rem;
}


/* Layout */

[class*=layout-container] {
  margin: 0 auto;
  max-width: 71.25em;
  padding: 1.9em 1.3em;
  position: relative;
}
.layout-container--short {
  padding-top: 0;
  padding-bottom: 0;
}

.layout-container--short:after {
  display: block;
  content: "";
  clear: both;
}

/* Header */

.header {
  padding-bottom: 1px;
}

.project__header {
  background-color: #4C4A73;
  color: #fff;
  margin-bottom: -1px;
  padding-top: 1em;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #BBB;
}

.project__header__title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: .1em;
  margin-top: 0;
  float: left;
}

.timestamp {
  float: right;
  clear: none;
  margin-bottom: 0;
}

.meta-counts {
  clear: both;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 1.5em;
  color: #fff;
  clear: both;
  font-size: 1.1em;
}

.meta-count {
  display: block;
  flex-basis: 100%;
  margin: 0 1em 1em 0;
  float: left;
  padding-right: 1em;
  border-right: 2px solid #fff;
}

.meta-count:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}

/* Card */

.card {
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: .25rem;
  margin: 0 0 2em 0;
  position: relative;
  min-height: 40px;
  padding: 1.5em;
}

.card .label {
  background-color: #767676;
  border: 2px solid #767676;
  color: white;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  border-radius: 0.25rem;
}

.card .label__text {
  vertical-align: text-top;
}

.card .label--high {
  background-color: #B51B72;
  border-color: #B51B72;
}

.card .label--medium {
  background-color: #E29022;
  border-color: #E29022;
}

.card .label--low {
  background-color: #222049;
  border-color: #222049;
}

.card .card.severity--low {
  border-color: #222049;
}

.card .card.severity--medium {
  border-color: #E29022;
}

.card .card.severity--high {
  border-color: #B51B72;
}

.card--vuln {
  padding-top: 4em;
  max-width: 48.75em;
}

.card--vuln .label {
  left: 0;
  position: absolute;
  top: 1.1em;
  padding-left: 1.9em;
  padding-right: 1.9em;
  border-radius: 0 0.25rem 0.25rem 0;
}

.card--vuln .card__section h2 {
  font-size: 22px;
  margin-bottom: 0.5em;
}

.card--vuln .card__section p {
  margin: 0 0 0.5em 0;
}

.card--vuln .card__meta {
  padding: 0 0 0 1em;
  margin: 0;
  font-size: 1.1em;
}

.card .card__meta__paths {
  font-size: 0.9em;
}

.card--vuln .card__title {
  font-size: 28px;
  margin-top: 0;
}

.card--vuln .card__cta p {
  margin: 0;
  text-align: right;
}